### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode
..vscode/*
..vscode
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
fibonacci
# Support for Project snippet scope
pr1
pr2
pr3
vhod.raw
izhod.raw

/naloga1/pr1
/naloga1/pr2
/naloga1/pr3
/naloga1/vhod.raw
/naloga1/izhod.raw

naloga1/pr1
naloga1/pr2
naloga1/pr3
naloga1/vhod.raw
naloga1/izhod.raw

/naloga2/pr1
/naloga2/pr2
/naloga2/pr3
/naloga2/vhod.raw
/naloga2/izhod.raw

naloga2/pr1
naloga2/pr2
naloga2/pr3
naloga2/vhod
naloga2/izhod

/naloga3/pr1
/naloga3/pr2
/naloga3/pr3
/naloga3/vhod
/naloga3/izhod

naloga3/pr1
naloga3/pr2
naloga3/pr3
naloga3/vhod.raw
naloga3/izhod.raw


# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode